.fullscreen-image {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('bg.jpg');
  background-size: cover;
  background-position: center;
}

.point {
  position: absolute;
  width: 20px;
  /* Adjust based on your design */
  height: 20px;
  /* Adjust based on your design */
  background-color: red;
  /* Style your points */
  border-radius: 50%;
  /* Makes the points circular */
  cursor: pointer;
}

.tooltip {
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: auto; /* Adjust the width based on content */
  max-width: 300px; /* Prevents the tooltip from becoming too wide */
  white-space: nowrap; /* Ensures the text stays on one line until it reaches max-width */
}

/* .point:hover::after {
  content: attr(data-text);
  content: replace(replace(attr(data-text), '|', '\A'), '; ', '\A\A');
  white-space: pre;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
} */